body {
  margin: 0px;
  overflow: hidden;
}
h1{
  font-size:120px;
  text-align: center;
}
#circuito {
  background: #99ccff;
  height: 1000px;
  width: 100%;
  position: absolute;
}

.car {
  background: #ff5050;
  height: 50px;
  width: 70px;
  position: absolute;
  top: 400px;
  left: 40px;
}
