body {
  margin: 0px;
}

.board {
  background: #99ccff;
  height: 1000px;
  width: 100%;
  position: absolute;
}

.car {
  background: #ff5050;
  height: 50px;
  width: 70px;
  position: absolute;
  top: 400px;
  left: 40px;
}

.bar {
  width: 220px;
  height: 400px;
  background: blue;
  position: absolute;
  top: 0px;
  left: 200px;
}

.one {
  left: 550px;
}

.two {
  left: 850px;
}

.tre {
  left: 1200px;
}

.d {
  top: 600px;
}
